* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.load {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.spinner {
  position: fixed;
  height: 100px;
  width: 100px;
  border-left: 5px solid rgb(134, 2, 99);
  border-bottom: 5px solid rgb(134, 2, 99);
  border-right: 5px solid rgb(134, 2, 99);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#root {
  background: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  width: 1200px;
  background: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 1000px;
  margin-top: 50px;
  background: rgb(20, 20, 20);
  border-radius: 15px;
  border: 0.5px solid rgb(63, 63, 63);
}

.post__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: white;
  background: rgb(20, 20, 20);
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.username {
  color: white;
  padding-top: 20px;
  font-size: 15px;
  background: rgb(20, 20, 20);
}

.email {
  color: white;
  padding-top: 10px;
  font-size: 10px;
  background: rgb(20, 20, 20);
}

.description__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 20px;
}

.description {
  padding-top: 20px;
  color: white;
  width: 700px;
  text-align: left;
  background: rgb(20, 20, 20);
}

.remover {
  color: red;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-left: 20px;
}

.editor {
  color: chartreuse;
  margin-right: 20px;
  cursor: pointer;
}

.ok {
  color: chartreuse;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.add {
  color: darkcyan;
  border: 1px solid white;
}

.modale {
  display: none;
  padding: 30px 0;
  position: fixed;
  width: 1000px;
  top: 20%;
  background-color: rgb(15, 3, 61);
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}

.input {
  margin-top: 20px;
}

.input_headline {
  width: 200px;
}

.input_name {
  width: 250px;
}

.input_email {
  width: 250px;
}

.input_description {
  width: 600px;
  padding-bottom: 80px;
}

.close {
  color: red;
  cursor: pointer;
}

.create {
  margin-top: 20px;
  color: green;
  cursor: pointer;
}

.modale-active {
  display: flex;
}
